# Ignore node_modules directory
node_modules/

# Ignore built JavaScript files
dist/

# Ignore TypeScript build artifacts
*.js
*.js.map

# Ignore database file
database/*
!database/.gitkeep 

# Ignore log file
log/*
!log/.gitkeep 
